#include "list.h" 

#define CHECK(expr, msg) \
    if (!(expr)) { \
        fprintf(stderr, "Test failed: %s\n", msg); \
        exit(EXIT_FAILURE); \
    }

{% for t in types %}
void test_{{t.type_name}}() {
    printf("Testing {{t.type_name}}...\n");
    {{t.type_name}} *l = {{t.type_name}}_create(3);

    // set/get
    {{t.type_name}}_set(l, 0, {{t.test_values[0]}});
    {{t.type_name}}_set(l, 1, {{t.test_values[1]}});
    {{t.type_name}}_set(l, 2, {{t.test_values[2]}});
    CHECK({{t.type_name}}_get(l, 0) == {{t.test_values[0]}}, "{{t.type_name}} get/set failed at 0");
    CHECK({{t.type_name}}_get(l, 1) == {{t.test_values[1]}}, "{{t.type_name}} get/set failed at 1");
    CHECK({{t.type_name}}_get(l, 2) == {{t.test_values[2]}}, "{{t.type_name}} get/set failed at 2");

    // negative indices
    CHECK({{t.type_name}}_get(l, -1) == {{t.test_values[2]}}, "{{t.type_name}} negative get -1 failed");
    CHECK({{t.type_name}}_get(l, -2) == {{t.test_values[1]}}, "{{t.type_name}} negative get -2 failed");
    {{t.type_name}}_set(l, -1, {{t.test_values[3]}});
    CHECK({{t.type_name}}_get(l, -1) == {{t.test_values[3]}}, "{{t.type_name}} negative set -1 failed");

    // append
    CHECK({{t.type_name}}_append(l, {{t.test_values[4]}}) == 4, "{{t.type_name}} append failed on length");
    CHECK({{t.type_name}}_get(l, l->length - 1) == {{t.test_values[4]}}, "{{t.type_name}} append failed");

    // insert
    {{t.type_name}}_insert(l, 1, {{t.test_values[5]}});
    CHECK({{t.type_name}}_get(l, 1) == {{t.test_values[5]}}, "{{t.type_name}} insert failed");
    CHECK({{t.type_name}}_get(l, 2) == {{t.test_values[1]}}, "{{t.type_name}} insert failed");
    CHECK(l->length == 5, "{{t.type_name}} insert failed");

    // pop
    {{t.c_type}} val = {{t.type_name}}_pop(l, -1);
    CHECK(val == {{t.test_values[4]}} && l->length == 4, "{{t.type_name}} pop -1 failed");

    // concat
    {{t.type_name}} *l2 = {{t.type_name}}_create(2);
    {{t.type_name}}_set(l2, 0, {{t.test_values[6]}});
    {{t.type_name}}_set(l2, 1, {{t.test_values[7]}});
    {{t.type_name}}_concat(l, l2);
    CHECK({{t.type_name}}_get(l, l->length - 2) == {{t.test_values[6]}} && {{t.type_name}}_get(l, -1) == {{t.test_values[7]}}, "{{t.type_name}} concat failed");

    {{t.type_name}}_free(l);
    {{t.type_name}}_free(l2);
    printf("{{t.type_name}} passed.\n\n");
    
}
{% endfor %}


int main() { 
{% for t in types %}test_{{t.type_name}}();
{% endfor %}

    printf("All tests passed successfully!\n");
    return 0;
}

